---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    BanditCo Studios - by <a
      href='https://banditco.dev/'
      target='_blank'
      class='text-blue'>BanditCo</a
    >
  </p>
</footer>
